[Desktop Entry]
Version=0.1
Name=ToDo
GenericName=To Do List Application
Comment=A simple To Do List
Exec=python /usr/lib/python3.4/site-packages/todo/todo.py
Icon=python
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
